/*    altGr + 7 = { */
h1 { 
    color:red;
}

h2 {
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
   /* border-color: rgb(52, 157, 255);
    border-style: groove;
    border-width: 0.5cm;*/ 
}
