h1 {
    color:purple;
    font-size: 100px;
    margin-left: 40px;
    color: purple;
}

h2 {
    border-style: dotted;
    border-color: red;
    border-width: 5px;
}

h3 {
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*  alt + ctrl + 7  {   */
/*  alt + ctrl + 0  }  */