h1 {
    color:cornflowerblue
}
h2 {
    border-style: dotted;
    border-color:plum;
    border-widht: 5px;
}
h3 {
    font-style:italic 
   
}
h3 {
    color:yellowgreen;
    font-family: fantasy;
}