/*
h1 {
    color:blue;
    font-style: italic;
    background-color: aquamarine;
    margin-left: 50px;
}  
*/
h2{
    border-style: dotted;
    border-width: 5px;
    font-size: 100px;
}

/*altgr + 7 ->  {  }*/