img {
    width: 400px; 
    height: 300px; 
    border: 10px solid red; 
/*  border-color: red;   dessa är samma som den ovan
    border-style: solid;
    border-width: 10px; */
}

p {background-color: aquamarine;}