#alrik{
   /* color:cyan; */
}

h1{
    color:red;
    font-size: 75px;
    color:green;
    color:blue;
}



h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}


