/*h1 {   
    color:red;
    font-size: 60px;
}

h2 {
    padding: 2rem;
    margin: 3rem;
    background-color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    color:blue;
}
    */