body {
  background-color: rgb(255, 229, 229);
}
h1 {
  color: blue;
}

#titel2{
    background-color: aqua;
}

.grupp1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}