h1
{
    background-color: lightgreen;
    font-style: italic;
    
}

#unik
{
    color:blue;
}

.grupp{

    color:blueviolet
}

h2
{
    /*
    padding: 10px;
    margin: 10px;
    */
    background-color: lightgreen;
}

img
{
    border: 3px solid red;
    width: 400px;
    height: 300px;
    
}

p
{
    font-family: 'Times New Roman', Times, serif;
}
