h2 {
    color: blue;
    padding: 10px;
    margin: 20px;
    background-color: aquamarine;

    border-color: rgb(255, 47, 217);
    border-width: 5px;
    border-style: dotted;
}

h1 { 
   color:red; 
    margin: 50px;
    font-style: italic;
}


h1 { 
    /*color:blue;*/
}